.bg{
    background-color: black;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color:white;
    border-top: none;
}
h3{
    color: whitesmoke;
}
